<ul class="list-unstyled">
    
    @foreach(var proizvod in Proizvodi)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="#">
                    <img class="media-img" src="@proizvod.UrlSlike" alt="@proizvod.Naziv" />
                </a>
            </div>
            <div class="media-body">
                <a href="#">
                    <h4 class="mb-0">@proizvod.Naziv</h4>
                </a>
                <p>@proizvod.Opis</p>
                <h5 class="price">$@proizvod.Cena</h5>
            </div>
        </li>    
    }

</ul>

@code {
    private static List<Proizvod> Proizvodi = new List<Proizvod>();
}
